/* Css reset */
*{
	padding: 0px;
	margin: 0px;
}
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,
ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
/* Font */
@font-face {
  font-family: Qanelas;
  src: url(../font/light/Qanelas-Light.woff);
}
@font-face {
  font-family: Qanelas-bold;
  src: url(../font/bold/Qanelas-Bold.woff);
}
body {
  font-family: Qanelas-Bold;
  color: #0a1737;
}
/* Navbar */
.topNav {
  width: 100%;
  height: 10rem;
  background-color: #0a1737;
    font-family: Qanelas-Bold;
}
.nav {
  height: 80px;
  width: 100%;
  background-color: #fff;
  position: relative;
  border-bottom: 3px solid #16f4f7;
}
.nav>.nav-header {
  display: inline;
}

.logo>img {
  max-width: 12%;
  position: absolute;
  top: 30%;
  left: 12%;
  cursor: pointer;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline-block;
  position: absolute;
  top: 0rem;
  right: 10rem;
  font-size: 18px;
}

.nav>.nav-links>a {
  display: inline-block;
  font-weight: 600;
  padding: 27px 10px;
  text-decoration: none;
  color: #0a1737;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
  display: none;
}
/* Footer */
footer {
  background-color: #091736;
  color: #dfe6e9;
}

.top {
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  text-align: center;
}

.bottom {
  background-color: #08122a;
  height: 3rem;
}

.logos>img {
  max-width: 12%;
  cursor: pointer;
  position: absolute;
  left: 10%;
  padding-top: .3rem;
}

.bottom>p {
  position: absolute;
  left: 25%;
  padding-top: .7rem;
  font-family: Qanelas;
}
.topnav {
  height: 10%;
  background-color: #0a1737;
  position: relative;
  padding: 1rem;
  color: #fff;
  font-family: Qanelas-Bold;
}

.left>ul {
  list-style: none;
  position: absolute;
  top: 2%;
  left: 12%;

}

.right>ul {
  list-style: none;
  position: absolute;
  left: 80%;
  top: 2%;
}

.left>ul>li {
  padding: .2rem;
  text-align: center;
  display: inline-block;
}

.right>ul>li {
  display: inline-block;
  padding: .2rem;
}
/* Media Queries*/
@media (max-width:780px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 3rem;
    top: 0.5rem;
  }
  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    color: #0a1737;
  }
  .nav>.nav-btn>label:hover {
    background-color: rgba(10, 23, 55, 0.70);
    border-radius: 20px;
    cursor: pointer;
  }
  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #0a1737;
  }
  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #0a1737;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 80px;
    left: 0px;
  }
  .nav>.nav-links>a {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
  }
  .nav>#nav-check:not(:checked)+.nav-links {
    height: 0px;
  }
  .nav>#nav-check:checked+.nav-links {
    height: calc(100vh - 80px);
    overflow-y: auto;
    z-index: 1;
  }
  .logo>img {
    max-width: 32%;
    position: absolute;
    top: 30%;
    left: 22%;
  }
  .logos>img {
    width: 5rem;
    margin-top: .5rem;
  }
}
.topNav {
  width: 70%;
  height: 10rem;
  background-color: #0a1737;
  font-family: Qanelas-Bold;
}

.left>ul {
  list-style: none;
  position: absolute;
  top: 2%;
  left: 12%;
}

.right>ul {
  list-style: none;
  position: absolute;
  left: 80%;
  top: 2%;
}

.left>ul>li {
  padding: .2rem;
  text-align: center;
  display: inline-block;
}

.right>ul>li {
  display: inline-block;
  padding: .2rem;
}
/* Header */
.parallax{
  width: 100%;
  height: 32rem;
  background-image: linear-gradient(rgba(10, 23, 55, 0.60), rgba(10, 23, 55, 0.90)),url(../images/womenDigital.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 60px; 
  text-align: center;
  font-family: Qanelas-bold;


}
.parallax h1{
  margin: 0 auto;
  color: white;
  padding-top: 11rem;
}

.titleWomenDigital{
  text-align: center;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 2rem;
  width: 20rem;
  font-family: Qanelas-Bold;
  
}

.lineUp{
      width: 6rem;
      height: .2rem;
      background-color: #16f4f7;
      border-radius: 5px;
      margin-bottom: 1rem;
      margin: 0 auto;

    }
.lineDown{
  width: 20rem;
  height: .2rem;
  background-color: #16f4f7;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin: 0 auto;
}
/* Main Content */
.container{
	width: 70%;
	margin: 0 auto;
  max-height: 45rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: .5rem;
  overflow: hidden;
  
}
.gridItems > p {
  text-align: center;
}
.gridItems > img{
  width: 80%;
}
.leftSide{
	height:55rem;
	padding-top: 4rem;
	width:35rem;
	float: left;
	font-family: Qanelas-bold;
	font-size: 1.2rem;
}
.leftSide p{
	padding-top: 4rem;
	width: 35rem;
	margin: 0 auto;
	font-size: 1.2rem;
}


.rightSide{
	padding-top: 6rem;
	height:55rem;
	width:35rem;
	float:left;
}
.rightSide img{
	width: 28rem;
	padding-left: 3.5rem;

}
/* Reviews */
.titleReview{
  margin: 0 auto;
  margin-top: 15.5rem;
  text-align: center;
  height: 2rem;
  width: 20rem;
  font-family: Qanelas-Bold;
  
}

.lineUp{
  width: 4rem;
  height: .3rem;
  background-color: #16f4f7;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin: 0 auto;

}
.lineDown{
  width: 12rem;
  height: .3rem;
  background-color: #16f4f7;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin: 0 auto;
}
.review {
  margin: 0 auto;
}
.mainReviewSection{
  height: 25rem;
  width: 70%;
  margin: 0 auto;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
.mainReviewSection img{
  width: 40%;
}
.mainReviewSection p{
  
  width: 40%;
  font-family: Qanelas-Bold;
  font-size: 1rem;

}
/* Media Queries */
@media screen and (max-width:  480px){

  .parallax h1{
    font-size: 5rem;
  }
	.container {
		width: 100%;
	}

	.leftSide{
		width: 100%;
    height: 69rem;
    text-align: center;

	}
	.leftSide p{
		padding-top: 1rem;
		width: 85%;
		margin: 0 auto;
	}

  .mainReviewSection{
    width: 100%;
    padding-top: 5rem;
    margin: 0 auto;
  }
  .reviewSide{
    width: 40%;
  }
	.rightSide img{
		width: 22rem;
    padding: 0px;
		
	}

	.firstSection{
		padding-top: 3rem;
		margin: 0 auto;
		width: 100%;

	}

}